{% extends 'app/base.html' %}

{% load static %}

{% block page %}Author - {{ user | capfirst }}{% endblock page %}

{% block content %}
<div class="row">

    <div class="text-center mb-4">
        <img src="{% static 'img/profile.jpg' %}" class="rounded-circle mb-3" id="profile-photo" alt="Author profile photo" style="width: 150px; height: 150px;">
        <h4 class="fw-bold">{{ user | capfirst }}</h4>
    </div>

    <div class="mb-3">
        <h3 class="fw-bold">
            Blogs
        </h3>
    </div>

    {% for blog in blogs %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{ blog.image.url }}" class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <div class="d-flex justify-content-between mb-2">
                        <small>
                            By 
                            <a href="{% url 'author' blog.user %}" class="text-decoration-none text-black">
                                {{ blog.user | capfirst }}
                            </a>
                        </small>
                        <small>{{ blog.time | date:"F j, Y" }}</small>
                    </div>
                    <p class="card-text">
                        {{ blog.content | truncatechars:108 | safe  }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'blog' slug=blog.slug %}" class="btn btn-primary btn-sm">Read</a>
                        <small><strong>Tags:</strong> {{ blog.tags | truncatewords:2 }}</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %} 