{% extends 'app/base.html' %}

{% block page %}{{ blog.title }}{% endblock page %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-7 mx-auto mb-5">
        <div class="bg-image hover-overlay ripple mb-3" data-mdb-ripple-color="light">
            <img src="{{ blog.image.url }}" class="card-img-top" style="width: 100%; height: 20vw; object-fit: cover;">
        </div>
        <h1 class="fw-bold mb-2">{{ blog.title }}</h1>
        <div class="d-flex justify-content-between mb-3">
            <small>
                By 
                <a href="{% url 'author' blog.user %}" class="text-decoration-none text-black">
                    {{ blog.user | capfirst }}
                </a>
            </small>
            <small>{{ blog.time | date:"F j, Y" }}</small>
        </div>
        <p class="card-text">
            {{ blog.content | safe | capfirst }}
        </p>

        <div class="d-flex justify-content-between">
            <div>
                {% if request.user == blog.user %}
                    <a href="{% url 'update' slug=blog.slug %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-fill"></i></a>
                    <a href="{% url 'delete' slug=blog.slug %}" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></a>
                {% else %}
                    <p></p>
                {% endif %}
            </div>
            <small><i class="bi bi-tag-fill"></i>&nbsp; {{ blog.tags | truncatewords:2 }}</small>
        </div>
    </div>

    <div class="col-md-3 mx-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              <strong>Latest Posts</strong>
            </div>
            <ul class="list-group list-group-flush">
                {% for blog in latest_blogs %}
                    <li class="list-group-item">
                        <a href="{% url 'blog' slug=blog.slug %}" class="text-decoration-none text-black fw-bold">
                            {{ blog.title | capfirst | truncatewords:5 }}
                        </a> <br>
                        <small class="text-muted">
                            {{ blog.time | date:"F j, Y" }}
                        </small>
                    </li>
                {% endfor %}
            </ul>
          </div>
    </div>
</div>
{% endblock content %}
