{% extends 'app/base.html' %}

{% block page %}Update Blog{% endblock page %}

{% block content %}
<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="card">
            <div class="card-header text-center mb-3">
                <h2 class="fw-bold">Update Your Blog</h2>
            </div>

            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for data in form %}
                        <div class="mb-3">
                            {{ data.label_tag }}
                            {{ form.media }}
                            {{ data }}
                            <small class="text-danger">{{ data.errors | striptags }}</small>
                        </div>
                    {% endfor %}

                    <input type="submit" value="Update" class="btn btn-primary btn-sm">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}